
<!-- The Modal -->
<div id="myModal" display class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="close()">&times;</span>
      <h2>Add new product</h2>
    </div>
    <div class="modal-body">
      
      <div class="group-one">
        <input type="text" [(ngModel)]="newItem.name" name="product_name" placeholder="product name">
        <input type="text" [(ngModel)]="newItem.price" name="price" placeholder="price">
        <input type="file" [(ngModel)]="itemImageName" (change)="setImage($event)" name="image" value="Upload Image">
      </div>

      <div class="group-two">
        <label>Product Category:</label>
        <div *ngFor="let category of categories; let i = index">
          <input  type="checkbox"
                  (change)="addCategory(category, $event)"
                  name="{{category}}"
                  id="{{category}}"
                  #categoryCheckboxes>
          <label for="{{category}}">{{category}}</label>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="add-button" (click)="add()">Add</button>
    </div>
  </div>

</div>