
<!-- The Modal -->
<div id="myModal" display class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="close()">&times;</span>
      <h2>Update product {{item.name}}</h2>
    </div>
    <div class="modal-body">

        <div class="group-one">
          <input type="text" [(ngModel)]="item.name" name="product_name" placeholder="product name">
          <input type="text" [(ngModel)]="item.price" name="price" placeholder="price">
          <input type="file" (change)="setImage($event)" name="image" value="Upload Image">
        </div>
  
        <div class="group-two">
          <label>Product Category:</label>
          <div *ngFor="let category of categories">
            <input  type="checkbox"
                    id="{{category}}"
                    name="{{category}}"
                    (change)="addCategory(category, $event)"
                    [selectControl]="selected(category)">
            <label for="{{category}}">{{category}}</label>
          </div>
        </div>
    
    </div>
    <div class="modal-footer">
      <button class="update-button" (click)="update()">Update</button>
    </div>
  </div>

</div>