<div class="item">

  <h2>{{item.name}}</h2>

  <span class="item-price">{{item.price}} LE</span>

  <div class="item-image">
    <img *ngIf="imagePreview" [src]="imagePreview" style="width: 100%; height: 100%;">
  </div>

  <div class="item-control">
    <i (click)="open()"><fa-icon [icon]="faEye"></fa-icon></i>
    <i (click)="update()"><fa-icon [icon]="faEdit"></fa-icon></i>
    <i (click)="delete()"><fa-icon [icon]="faTrash"></fa-icon></i>
  </div>

</div>

<item-view  [item]="item"
            #ItemViewComponent>
</item-view>
<item-update  [item]="item"
              [items]="items"
              #ItemUpdateComponent>
</item-update>
<item-delete  [item]="item"
              #ItemDeleteComponent>
</item-delete>