
<!-- The Modal -->
<div id="myModal" display class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="close()">&times;</span>
      <h5>Delete product {{item.name}}</h5>
    </div>
    <div class="modal-body">
      <p>Do you really want to delete this product?</p>
    </div>
    <div class="modal-footer">
      <button (click)="delete()">Confirm</button>
      <button (click)="close()">Cancel</button>
    </div>
  </div>

</div>